:root{
    --themecolor: #86a949;
}

html {
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    overflow: hidden;
}

.font-size-big{
    font-size: 1.5rem;
}
.font-size-medium{
    font-size: 0.8rem;
}
.font-size-default{
    font-size: 1.0rem;
}
.font-size-mini{
    font-size: 0.6rem;
}
h1{
    font-size: 1.2rem;
}
h2{
    font-size: 1.0rem;
}
p{
    font-size: 0.9rem;
    margin-bottom: 0;
}
.logo-height{
    height: 61px;
}
.navbar-height{
    height: 50px;
}
.background-themecolor{
    background-color: var(--themecolor);
}
.background-pink{
    background-color: palevioletred;
}
.background-orange{
    background-color: orange;
}
.border-lightgrey{
    border: solid 1px lightgrey;
}
.border-bottom-themecolor{
    border-bottom: solid 3px var(--themecolor);
}
.top-eyecatch,.recommend,.popular,.review{
    height: 340px;
}

.title{
    margin: 0.25em 0.5em;/*上下 左右の余白*/
    border-left: solid 5px var(--themecolor);/*左線*/
}
.text-theme{
    color: var(--themecolor);
}
.span-syohin{
    margin-left: 5px;
    margin-right: 5px;
    color: orange;
    border:solid 1px orange;
    padding: 2px 10px;
}

.kakomi{
    border: solid 1px lightgray;
    border-top: solid 3px var(--themecolor);
}
.border-bottom-lightgrey{
    border-bottom: solid 1px lightgray;
}
.border-radius-5px{
    border-radius: 5px;
}
.max-height-200px{
    max-height: 200px !important;
}
.height-search{
    height: 200px;
}
.max-width-126px{
    max-width: 126px;
}
@media screen and (max-width: 768px){
    .height-search{
        height: 126px;
    }
}
.object-fit-contain{
    object-fit: contain;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.navbar-content-text{
    font-size: 1rem;
}
@media screen and (max-width: 767px){
    .navbar-content-text{
        font-size: 3vw;
    }
}
.ptb-equal{
    padding-top: 33%;
    padding-bottom: 33%;
}
.border-x{
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}
.swiper-slide-photo{
    height: 256px;
}
.swiper-button-next{
    right:1px !important;
}
.swiper-button-prev{
    left:1px !important;
}
.swiper-container{
    margin:0 !important;
}
.shopping-guide-content-img{
    width: auto;
    max-height:100px;
}
.border-orange{
    border: solid 1px orange;
}
.search-checkbox-label {
    display: inline-block;
    margin: 10px;
    padding: 6px 20px;
    border: 2px solid var(--themecolor);
    border-radius: 100px;
    color: black;
    background-color: white;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}
@media screen and (max-width: 767px){
    .search-checkbox-label {
        font-size: 4vw !important;
        padding: 3px 10px;
        margin: 5px;
    }
}
.search-checkbox-input:checked + .search-checkbox-label {
    background-color: var(--themecolor);
    color: white;
}
.search-checkbox-input{
    display: none;
}
.search-checkbox-input:checked + .search-checkbox-label::before {
    background-color: #fff;
}

/* ローディング画面 */
#loading {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--themecolor);
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.loaded {
    z-index: -99;
    visibility: hidden;
}